<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link href="/static/css/tables.css" type="text/css" media="screen" rel="stylesheet" />
    <link href="/static/css/top.css" type="text/css" media="screen" rel="stylesheet" />
</head>
<body>
    <div id="top-nav" class="navbar navbar-fixed-top navbar-inverse">
        <ul class="nav navbar-nav" style="float:left; margin-left: auto">
            <li class="dropdown">
                    {% if request.user.is_authenticated and request.user.activation %}
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="">
                        <strong>欢迎， {{ request.user.username }}</strong></a>
                    {% elif request.user.is_authenticated %}
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="">
                        <strong>欢迎， {{ request.user.username }}（未验证）</strong></a>
                    {% else %}
                        <a href="/login/"><span class="hide-sm">登录</span></a></ul>
                        <ul class="nav navbar-nav" style="float:left; margin-left: auto">
                        <li class="dropdown"><a href="/register/"><span class="hide-sm">注册</span></a>
                    {% endif %}
            </li>
        </ul>
        <ul class="nav navbar-nav" style="float:right; margin-right: auto">
            <li class="dropdown">
                {% if request.user.is_authenticated%}
                <a href="/logout/">
                    <i class="show-sm fa fa-sign-out"></i>
                    <span class="hide-sm">注销</span>
                </a>
                {% endif %}
            </li>
        </ul>
        <ul class="nav navbar-nav" style="float:right; margin-right: auto">
            <li class="dropdown">
                <a href="/goods/">
                    <i class="show-sm fa fa-sign-out"></i>
                    <span class="hide-sm">商品信息</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav" style="float:right; margin-right: auto">
            <li class="dropdown">
                <a href="/referee/">
                    <i class="show-sm fa fa-sign-out"></i>
                    <span class="hide-sm">推荐信息</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="top-nav" class="navbar navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                    <strong style='font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace; font-size: larger; margin-left: 45%'>订单详情</strong>
            </li>
            <br>
        </ul>
    </div>

    <form id="form1" method="post" action={% url 'home' %}>
    <div class="table-responsive">
        <table class="table table-bordered">
        <thead>
            <tr>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">订单编号</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">商品名</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">单价</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">成交价</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">车型</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">车牌</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">订单创建时间</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
                <td  class="sortable" scope="col">
                    <div>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">订单状态</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="?o=id" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>
                            <li><a href="?o=-id" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </thead>
        <tbody>
        {% for order in results %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.goods}}</td>
                <td>{{ order.price}}</td>
                <td>{{ order.real_price }}</td>
                <td>{{ order.motorcycle_type }}</td>
                <td>{{ order.license_plate }}</td>
                <td>{{ order.create_time }}</td>
                <td>{{ order.state }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% csrf_token %}
    </form>
</body>
</html>